body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #04001a;
}

.container {
    max-width: 500px;
    margin-left: 0px;
    padding: 4px;
    padding-top: 10px;
    background-color: rgba(238, 237, 237, 0.849);
}

.header {
    display: flex;
    padding: 10px;
    color: #000000;
}

.header img {
    border-radius: 50%;
    width: 10rem;
    height: 15rem;
    position: relative;
    right: 1.5rem;
    top: 1.5rem;
    color: #000000;
}

.photo-personal{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 4rem;
}

.personal-info h2{
    color: #000000;
    margin-left: 1rem;
}

.personal-info h1{
    color: #000000;
    margin-left: 1rem;
}

.personal-info p{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    color: #08206d;
    margin-right: 2rem;
    margin-left: 1rem;
}

#sectionmain{
    text-align: center;
    position: relative;
    color: #000000;
}

li{
    color: #000000;
}


#particles-js {
    margin: 0%;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.profile h1 {
    margin-left: 1rem;
    color: #000000;
}

.profile h2 {
    margin-left: 1rem;
    color: #000000;
}

.información-de-contacto {
    margin-left: 1rem;
    color: #000000;
}

.profile-description {
    margin-right: 2rem;
    margin-left: 1rem;
    justify-content: left;
    color: #000000;
}

.profile-description h2 {
    text-decoration: underline;
    color: #000000;
}

.profile-description p {
   font-family:'Times New Roman', Times, serif;
   font-weight: bolder;
   font-size: larger;
   color: #08206d;
}

.experience {
    margin-left: 1rem;
    color: #000000;
}

.experience h2 {
    text-decoration: underline;
    color: #000000;
}

.skills {
    margin-left: 1rem;
    color: #000000;
}

.skills h2 {
    text-decoration: underline;
    color: #000000;
}


.Courses h2 {
    margin-left: 1rem;
    text-decoration: underline;
    color: #000000;
}

.Courses li{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    color: #08206d;
    margin-right: 2rem;
    margin-left: 1rem;
}

.education h2{
    margin-left: 1rem;
    text-decoration: underline;
    color: #000000;

}

.education p {
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    color: #08206d;
    margin-right: 2rem;
    margin-left: 1rem;
}

.more_info {
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

.more_info h2 {
    text-decoration: underline;
}