.navbar {
    text-align: center;
    align-content: center;
    border: 1px solid hsl(320, 3%, 39%);
    border-radius: 10px;
    background-color: #fefcffc2;
    box-shadow: 4px 4px 4px;
    padding-top: 2%;
    margin-top: 15%;
    margin-left: 35%;
    max-width: 550px;

}

.navbar-brand h1{
    color: rgb(0, 0, 0);
    
}

.PhotoProfile{
    width: 250px;
    height: 250px;
    border-radius: 60%;
    background-size: cover;
    margin: 0 auto;
}

.nombre_classname_ul{
    display:flex;
    gap: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    
}

.nombre_classname{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight:bold;

}
